@import url("https://fonts.googleapis.com/css?family=Lato:400,700");

/*configurações gerais*/
:root {
  --mainWhite: #fff;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 0.1rem;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: var(--mainWhite);
  background: var(--mainWhite);
  font-family: "Lato", sans-serif;
}
html,
body,
header {
  height: 100%;
}

.banner {
  height: 80%;
}

/*cabeçalho*/
header {
  background: url("images/wallpaper.jpg");
  background-position: center;
}

/*barra de navegação*/
.navbar {
  /*background: rgb(231, 226, 221);*/

  background-color: rgba(0, 0, 0, 0.6);
}

.size-icon {
  font-size: 25px;
  cursor: pointer;
}

/*caixa*/

.caixa {
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  margin-top: 30px;
   height: 35%;
   width: 70%;
}



.titulo-caixa {
  margin-top: 35px;
  font-size: 40px;
  font-weight: 900;
}

.botao-caixa {
  margin-top: 30px;
  padding: 15px;
  background: none;
  color: white;
  border-radius: 20px;
  width: 35%;
  transition: var(--mainTransition);
}

.botao-caixa:hover {
  background: white;
  color: black;
}

@media (max-width: 575.98px) { 
    .caixa{
        height: 38%;
    }
    .titulo-caixa {
        margin-top: 20px;
        font-size:30px;
        font-weight: 900;
    }
    .botao-caixa {
        margin-top: 10px;
        
    }

 }


@media (min-width: 576px) and (max-width: 767.98px) { 
    .titulo-caixa {
        margin-top: 20px;
        font-size: 30px;
        font-weight: 900;
    }
    .botao-caixa {
        margin-top: 10px;
    }
    .icon-margin{
        margin: 0;
    }
 }

@media (min-width: 1200px) { 
    .caixa{
        height: 35%;
         width: 45%;
    }
    .icon-margin{
        margin-left: 0;
    }
}

/*seção de produtos*/

.principal {
  margin: 45px 0px;
}
.titulo-produtos {
  margin-bottom: 60px;
}
.titulo-produtos h1 {
  font-weight: 850;
}

.formatoh4 {
  text-transform: capitalize;
  font-size: 1.1rem;
  margin-top: 1rem;
  letter-spacing: var(--mainSpacing);
  font-weight: 700;s
}

.priceitem {
  margin-top: 0.7rem;
  letter-spacing: var(--mainSpacing);
}


.produto{
    position: relative;
    overflow: hidden;
    display: inline-block;
   
    
}
.botao-item{
  position: absolute;
  bottom: 16%;
  left: 19%;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  font-size: 0.8rem;
  border: none;
  
  padding: 0.5rem 0.75rem;
  letter-spacing: var(--mainSpacing);
  font-weight: bold;
  transition: var(--mainTransition);
  transform: translateX(-132%);
  
  cursor: pointer;
  
}


.borda:hover {
  cursor: pointer;
  border: 1px ridge #e6e6e6;
}


.borda:hover .botao-item {
    display: inline;
    transform: translateX(-30%);
}



/*Footer*/

footer{
    background: rgba(0, 0, 0, 0.7);
    color: white;
}

.icon-margin{
    margin-left: 10px;
}


    @media (max-width: 575.98px) { 
    .caixa{
        height: 38%;
    }
    .titulo-caixa {
        margin-top: 20px;
        font-size:30px;
        font-weight: 900;
    }
    .botao-caixa {
        margin-top: 10px;
        
    }
    .icon-margin{
        margin-left: 0;

 }


@media (min-width: 576px) and (max-width: 767.98px) { 
    .titulo-caixa {
        margin-top: 20px;
        font-size: 30px;
        font-weight: 900;
    }
    .botao-caixa {
        margin-top: 10px;
    }

 }

@media (min-width: 1200px) { 
    .caixa{
        height: 35%;
         width: 45%;
    }
    
    }
}