@import url("https://fonts.googleapis.com/css?family=Lato:400,700");

/*configurações gerais*/

:root {
  --mainWhite: #fff;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 0.1rem;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: var(--mainWhite);
  background: var(--mainWhite);
  font-family: "Lato", sans-serif;
}
html,
body,
header {
  height: 100%;
}

.banner {
  height: 80%;
}

/*cabeçalho*/
header {
  background: url("images/wallpaper.jpg");
  background-position: center;
}

/*barra de navegação*/
.navbar {
  /*background: rgb(231, 226, 221);*/

  background-color: rgba(0, 0, 0, 0.6);
}

.size-icon {
  font-size: 25px;
  cursor: pointer;
}

.navbar-nav .nav-link {
  color: white;
  letter-spacing: var(--mainSpacing);
}
.navbar-nav .nav-link:hover {
  color: #ccccb3;
}

/*caixa*/

.caixa {
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  margin-top: 30px;

  /*
   height: 32%;
   width: 36%;
   */
  padding: 10px 40px;
  border-radius: 30px;
}

.titulo-caixa {
  margin-top: 35px;

  margin-left: 70px;
  margin-right: 70px;

  font-size: 43px;
  font-weight: 600;
  color: #e6e6e6;
  letter-spacing: var(--mainSpacing);
}

.botao-caixa {
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 15px 50px;
  background: none;
  color: white;
  border-radius: 20px;

  transition: var(--mainTransition);
}
.botao-caixa:focus {
  outline: none;
}

.botao-caixa:hover {
  background: #e6e6e6;
  color: black;
}

/*seção de produtos*/

.principal {
  margin: 45px 0px;
}
.titulo-produtos {
  margin-bottom: 60px;
}
.titulo-produtos h1 {
  color: rgb(64, 64, 64);
  font-size: 2.8rem;
  margin-top: 1rem;
  letter-spacing: var(--mainSpacing);
  font-weight: 600;
}

.formatoh4 {
  text-transform: capitalize;
  font-size: 1.1rem;
  margin-top: 1rem;
  letter-spacing: var(--mainSpacing);
  font-weight: 700;
}

.priceitem {
  margin-top: 0.7rem;
  letter-spacing: var(--mainSpacing);
}

.produto {
  position: relative;
  overflow: hidden;
  display: inline-block;
}
.botao-item {
  position: absolute;
  bottom: 16%;
  left: 19%;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  font-size: 0.8rem;
  border: none;

  padding: 0.5rem 0.75rem;
  letter-spacing: var(--mainSpacing);
  font-weight: bold;
  transition: var(--mainTransition);
  transform: translateX(-132%);

  cursor: pointer;
}

.borda:hover {
  cursor: pointer;
  border: 1px ridge #e6e6e6;
}

.borda:hover .botao-item {
  display: inline;
  transform: translateX(-23.5%);
}

/*Footer*/

footer {
  background: rgba(0, 0, 0, 0.7);
  color: white;
}

.icon-margin {
  margin-left: 10px;
}

/*fim do footer*/

/*carrinho de compras*/
.efeito-carrinho {
  /*
    width: 500px;
    height: 1000px;
    */
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  /*transition: var(--mainTransition);*/
  background: rgb(240, 157, 81, 0.5);
  z-index: 2;
  visibility: hidden;
  padding: 15px;
}

.showcart {
  visibility: visible;
}

.carrinho {
  position: fixed;
  top: 0;
  right: 0;
  width: 30%;
  height: 100%;
  overflow: scroll;
  z-index: 3;
  background: rgb(231, 226, 221);
  padding: 1.5rem;
  transform: translateX(100%);
  transition: var(--mainTransition);
  /*transform: translateX(100%);*/
}

.aparecerCarrinho {
  transform: translateX(0);
}
/*
.conteudo-carrinho h3{
   font-size: 25px;
   font-weight:550;
   text-transform: capitalize;
   letter-spacing: var(--mainSpacing);
}
*/
.tituloCarrinho {
  font-size: 25px;
  font-weight: 550;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}

.item-carrinho {
  margin-top: 30px;
}

.info-item {
  padding: 15px;
}

.info-item h4,
.carrinho h4 {
  font-size: 0.9rem;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
  font-weight: 550;
}

.remove-item {
  float: left;
  cursor: pointer;
  color: grey;
}

.fa-chevron-up,
.fa-chevron-down {
  cursor: pointer;
}

.limpar-carrinho {
  padding: 5px 18px;
}
.comprar-carrinho {
  padding: 5px 20px;
  width: 70%;
  margin-top: 10px;
}

/*seção sobre nos*/

.sobre-empresa {
  border: 2px solid #e6e6e6;
  /*margin: 50px 0;*/
}

.secao {
  margin: 50px 0;
}

.borda-imagem {
  border: 2px solid #e6e6e6;
  border-radius: 30%;
  padding: 20px;
}
.titulo-sobre {
  color: rgb(64, 64, 64);
  font-size: 2.8rem;
  margin-top: 60px;
  letter-spacing: var(--mainSpacing);
  font-weight: 600;
}

.subtitulo-sobre {
  color: rgb(64, 64, 64);
  margin-bottom: 10px;
  letter-spacing: var(--mainSpacing);
  font-weight: 600;
}

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
  .icon-margin {
    margin-left: 0;
  }

  .icone {
    font-size: 13px;
  }
  .footer-copyright {
    font-size: 10px;
  }
  .titulo-caixa {
    font-size: 23px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .botao-caixa {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 12px 15px;
    font-size: 11px;
  }
  .carrinho {
    width: 80%;
  }
  .diminuir-tamanho {
    height: 120px;
    width: 90px;
  }
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
  .titulo-caixa {
    font-size: 30px;
    margin-left: 30px;
    margin-right: 30px;
  }
  .botao-caixa {
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 15px 20px;
  }
  .carrinho {
    width: 80%;
  }
  .diminuir-tamanho {
    height: 30px;
    width: 30px;
  }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
  .carrinho {
    width: 50%;
  }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
  .carrinho {
    width: 40%;
  }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
}
